.container
  br
  #map(style="height: 400px;")
  br

javascript:
  var lat = #{@post.latitude};
  var lng = #{@post.longitude};

  L.Icon.Default.imagePath = "https://unpkg.com/leaflet@1.3.1/dist/images/";
  var map = L.map('map').setView([lat, lng], 10);
  var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  var osmAttrib = "Map data ©︎ OpenStreetMap contributors";
  L.tileLayer(osmUrl, {
    attribution: osmAttrib,
    maxZoom: 20,
  }).addTo(map);

  var marker = L.marker([lat, lng], {icon: L.spriteIcon('red')}).addTo(map);
  map.on("click", function(e) {
    marker.setLatLng(e.latlng);
    $('#post_latitude').val(e.latlng.lat);
    $('#post_longitude').val(e.latlng.lng);
  });